#common files and directories
/target/
/logs/
/classes/
/deploy/



#ignore eclipse files
.settings/
.classpath
.project
.DS_Store
.metadata



#ignore idea files 
.idea
.iml
.eml
/soa-all.iml
/soa-all.ipr
/soa-all.iws
