 body, table, td, p, font, select {
        font-size: 9pt;
    }

    .bt {
        background: transparent url(../images/button_bg.gif) repeat scroll 0 0;
        border: 1px solid #7DE7FD;
        font-size: 9pt;
        height: 22px;
        cursor: pointer;
    }

    .bt:HOVER {
        background: transparent url(../images/button_bg2.gif) repeat scroll 0 0;
        border: 1px solid #C3A336;
    }

    .btn {
        cursor: pointer;
        border: #FFFFFF 1px solid;
    }

    .btn:HOVER {
        background-color: #F0FFE1;
        border: #93B3CA 1px solid;
    }